@import url("https://p.typekit.net/p.css?s=1&k=lwm2jkk&ht=tk&f=52098.52100&a=1532853&app=typekit&e=css");

@import "tailwindcss";

@theme {
    --color-primary: #bbf1df;
    --color-primary-light: #c9f4e5;
    --color-primary-dark: #96c1b2;
    --color-primary-contrast: #1c5053;

    --color-secondary: #f3f3e5;
    --color-secondary-light: #f6f6ec;
    --color-secondary-dark: #dbdbce;
    --color-secondary-contrast: #353a3c;

    --color-red: #cb2a33;
    --color-red-light: #d5555c;
    --color-red-dark: #a22229;
    --color-red-contrast: #ffffff;

    --color-green: #0b9059;
    --color-green-light: #59ad87;
    --color-green-dark: #267a54;
    --color-green-contrast: #f4f4df;

    --color-yellow: #fbba47;
    --color-yellow-light: #fcc86c;
    --color-yellow-dark: #c99539;
    --color-yellow-contrast: #4b2f00;

    --color-dark: #353a3c;
    --color-dark-light: #5d6163;
    --color-dark-dark: #2a2e30;
    --color-dark-contrast: #ffffff;

    --font-sans: "avenir", sans-serif;
    --font-serif: "Rokkitt Variable", serif;
    --font-display: "League Spartan Variable", serif;

    --breakpoint-sm: 600px;
    --breakpoint-md: 960px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1536px;
}

@font-face {
    font-family: "avenir";
    src: url("/fonts/avenir/AvenirLTProRoman.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

.tk-thirsty-rough-two {
    font-family: "thirsty-rough-two", sans-serif;
}

body {
    background-color: #f3f3e5;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
}

.max-w-xs {
    max-width: unset;
}
